.breadcrumbs {
	color: $breadcrumbs-color;
	background-color: $breadcrumbs-bg;
	height: $breadcrumbs-height;
    line-height: $breadcrumbs-height;
    width: 100%;
	padding-left: $breadcrumbs-padding;
	@extend %box_shadow;
	
	& li {
		display: inline-block;	
		padding: 0 5px;
		
		&:not(:first-child):before {
			content: $breadcrumbs-separator;
			display: inline-block;
			margin-right: 10px;
		}
		&:last-child {
			color: $breadcrumbs-active-color;
		} 
	}
	
	& a {
		color: $breadcrumbs-link-color;
		
		&:hover, &:active {
			color: $breadcrumbs-link-hover-color;
		}
	}
}
