form p {
	margin-bottom: 10px;
	text-align: left;
	&:last-child {
		margin-bottom: 0;
	}
}
fieldset {
    border: 1px solid #e6e6e6;
    margin: 0 2px;
    padding: 2rem;
}
legend {
    padding: 0 10px;
}
input:not([type="submit"]):not([type="file"]):not([type="range"]):not([type="button"]), textarea {
    border: $input-border;
    border-radius: $input-border-radius;
    margin-bottom: 10px;
    padding-left: 1%;
    width: 100%;
	background-color: $input-bg;
	color: $input-color;
	@include input-placeholder {
        color: $input-color-placeholder;
    }
}
input:not([type="submit"]):not([type="file"]):not([type="range"]):not([type="button"]) {
    height: $input-height;
}
textarea {
    width: 100%;
	padding: $textarea-padding;
	min-height: $textarea-height;
}
label {
    color: #858585;
    display: block;
    margin-bottom: 3px;
}

input[type="submit"], input[type="button"] {
	@extend %btn, .btn-xl, .btn-primary;
}