/* Pagination */
.pagination li {
	display: inline-block;
	padding: $pagination-padding;
	line-height: 30px;
	border-radius: $pagination-border-radius;
	text-align: center;

	& a {
		color: #444;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		&:hover {
			color: $pagination-link-hover-color;
		}
	}

	&.active {
		background: $pagination-background-color-active;
		& a {
			color: $pagination-color-active;
		}
	}
	&.disabled a {
		cursor: default;
		color: $pagination-color-disabled;
	}
}



@media only screen and (max-width: 992px) {
	.pagination {
		width: 100%;
		& li.prev, & li.next {
			width: 10%;
		}
		& li.pages {
			width: 80%;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}